{% extends 'shared/layout.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
    <title>Document</title>
</head>
<body>
        
        {% block conteudo  %}
        
            {% if nome %}
                <h1>Bem-Vindx {{nome}}</h1>
            {% else %}
                <h1>Bem-Vindx ao PETISK</h1>
            {% endif %}
            <div>
            <form action="" method="post">
                    {% csrf_token %}
                <label for="">Nome:</label>
                <input type="text" name="nome" required>
        
                <label for="">Sobrenome:</label>
                <input type="text" name="sobrenome" required>
        
                <label for="">Data de nascimento:</label>
                <input type="date" name="data_nascimento" required>
        
                <label for="">Email:</label>
                <input type="email" name="email" required>
        
                <label for="">CEP:</label>
                <input type="text" name="str_cep" maxlength="5" required>
        
                <label for="">numero</label>
                <input type="text" name="str_numero" maxlength="8" required>
        
                <label for="">Complemento:</label>
                <input type="text" name="complemento" required>
        
                <label for="">telefone</label>
                <input type="text" name="telefone" maxlength="8" required>
        
                <label for="">numero de celular:</label>
                <input type="text" name="celular" maxlength="9" required>
        
                <label for="">MOTIVO:</label>
                <textarea name="motivo" id="" cols="30" rows="10" maxlength="2000" required></textarea>
        
                <select name="genero" id="" required>
                    <option selected disabled value="" >Selecione</option>
                    <option value="">Masculino</option>
                    <option value="">Feminino</option>
                    <option value="">Outros</option>
                </select>
        
                <input type="submit" value="Cadastrar">     
        
            </form>
            </div>
        
        {% endblock %}

    
</body>
</html>